@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Medium.woff') format('woff');
}

:root {
  --primary: #177eff;
  --primaryBlueLight: #70aefd;
  --secondary: #667281;
  --bgSecondary: #f5f6fa;
  --tertiary: #ebeef6;
  --gilroy: 'Gilroy', Helvetica, sans-serif;
  --arial: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--arial);
  color: #111111;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn,
.arial {
  font-family: var(--arial);
  font-weight: 400;
}

.btn.btnSecondary,
.gilroy {
  font-family: var(--gilroy);
}

.text-secondary {
  color: var(--secondary);
}

.bg-secondary {
  background-color: var(--bgSecondary);
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.text-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primaryBlueLight {
  background-color: var(--primaryBlueLight);
}

select.appearance-none {
  background-image: url('../assets/svg/arrow.svg');
  background-repeat: no-repeat;
  background-position: right 0.8rem top 50%;
  background-size: 1.2rem auto;
}

/* Table correction */

.postsTable {
  width: calc(100% + 48px);
}

/* Pagination styles */

.paginate {
  display: flex;
  gap: 4px;
}

.paginate li {
  min-width: 32px;
  max-height: 32px;
}

.paginate__next a,
.paginate__previous a,
.paginate__link {
  min-width: 32px;
  background-color: var(--bgSecondary);
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--arial);
  font-size: 14px;
  color: var(--secondary);
  line-height: 0;
  height: 100%;
}

.paginate--disabled a {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.paginate__previous {
  transform: rotate(180deg);
}

.paginate--active a {
  background-color: var(--primary);
  color: white;
}
